<div class="content">
  <div class="content-password">
    <form class="main-form" [formGroup]="password_form">
      <div class="password-field">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" (input)="checkPasssword()">
      </div>
      <div class="section" [ngStyle]="{'background': sectionColor1}"></div>
      <div class="section" [ngStyle]="{'background': sectionColor2}"></div>
      <div class="section" [ngStyle]="{'background': sectionColor3}"></div>
    </form>
  </div>
</div>
